#Remmember to create a .env.local file using this file and do not miss the dot (.) infront of the name to avoid unwanted configuration related errors.

NEXT_PUBLIC_JWT_SECRET=ilovetypescript
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/v1